### google 항공편 데이터와 naver 항공평의 컬럼 순서 맞추기

In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
# 불러오기
column_names = ['항공사', '출발시간', '출발공항', '도착시간', '도착공항', '비행방식', '비행시간', '추출시간', '편도/왕복', '가격', '편명']
raw_google_bangkok_26 = pd.read_csv('/', names=column_names, header=None)
raw_google_bangkok_27 = pd.read_csv('/', names=column_names, header=None)
raw_google_danang_26 = pd.read_csv('/', names=column_names, header=None)
raw_google_danang_27 = pd.read_csv('/', names=column_names, header=None)
raw_google_osaka_26 = pd.read_csv('/', names=column_names, header=None)
raw_google_osaka_27 = pd.read_csv('/', names=column_names, header=None)



# nan값 없애기
raw_google_bangkok_26 = raw_google_bangkok_26[raw_google_bangkok_26['가격'].notna()].reset_index(drop=True)
raw_google_bangkok_27 = raw_google_bangkok_27[raw_google_bangkok_27['가격'].notna()].reset_index(drop=True)
raw_google_danang_26 = raw_google_danang_26[raw_google_danang_26['가격'].notna()].reset_index(drop=True)
raw_google_danang_27 = raw_google_danang_27[raw_google_danang_27['가격'].notna()].reset_index(drop=True)
raw_google_osaka_26 = raw_google_osaka_26[raw_google_osaka_26['가격'].notna()].reset_index(drop=True)
raw_google_osaka_27 = raw_google_osaka_27[raw_google_osaka_27['가격'].notna()].reset_index(drop=True)

In [3]:
naver_order = ['항공사', '출발시간', '출발공항', '도착시간', '도착공항',
            '비행방식', '비행시간', '편도/왕복', '가격', '추출시간', '편명']

In [4]:
# 네이버 항공편 순서대로 바꾸기
raw_google_bangkok_26 = raw_google_bangkok_26[naver_order]
raw_google_bangkok_27 = raw_google_bangkok_27[naver_order]
raw_google_danang_26 = raw_google_danang_26[naver_order]
raw_google_danang_27 = raw_google_danang_27[naver_order]
raw_google_osaka_26 = raw_google_osaka_26[naver_order]
raw_google_osaka_27 = raw_google_osaka_27[naver_order]

In [5]:
# 출발시간 9:35 -> 09:35
raw_google_bangkok_26['출발시간'] = pd.to_datetime(raw_google_bangkok_26['출발시간'], format='%H:%M').dt.strftime('%H:%M')
raw_google_bangkok_27['출발시간'] = pd.to_datetime(raw_google_bangkok_27['출발시간'], format='%H:%M').dt.strftime('%H:%M')
raw_google_danang_26['출발시간'] = pd.to_datetime(raw_google_danang_26['출발시간'], format='%H:%M').dt.strftime('%H:%M')
raw_google_danang_27['출발시간'] = pd.to_datetime(raw_google_danang_27['출발시간'], format='%H:%M').dt.strftime('%H:%M')
raw_google_osaka_26['출발시간'] = pd.to_datetime(raw_google_osaka_26['출발시간'], format='%H:%M').dt.strftime('%H:%M')
raw_google_osaka_27['출발시간'] = pd.to_datetime(raw_google_osaka_27['출발시간'], format='%H:%M').dt.strftime('%H:%M')

# 도착시간 25:20 -> 01:20, 9:35 -> 09:35
raw_google_bangkok_26['도착시간'] = raw_google_bangkok_26['도착시간'].apply(lambda x: re.split('[:]', x))
raw_google_bangkok_26['도착시간'] = raw_google_bangkok_26['도착시간'].apply(lambda x: f'{int(x[0]) % 24:02d}:{x[1]}')

raw_google_bangkok_27['도착시간'] = raw_google_bangkok_27['도착시간'].apply(lambda x: re.split('[:]', x))
raw_google_bangkok_27['도착시간'] = raw_google_bangkok_27['도착시간'].apply(lambda x: f'{int(x[0]) % 24:02d}:{x[1]}')

raw_google_danang_26['도착시간'] = raw_google_danang_26['도착시간'].apply(lambda x: re.split('[:]', x))
raw_google_danang_26['도착시간'] = raw_google_danang_26['도착시간'].apply(lambda x: f'{int(x[0]) % 24:02d}:{x[1]}')

raw_google_danang_27['도착시간'] = raw_google_danang_27['도착시간'].apply(lambda x: re.split('[:]', x))
raw_google_danang_27['도착시간'] = raw_google_danang_27['도착시간'].apply(lambda x: f'{int(x[0]) % 24:02d}:{x[1]}')

raw_google_osaka_26['도착시간'] = raw_google_osaka_26['도착시간'].apply(lambda x: re.split('[:]', x))
raw_google_osaka_26['도착시간'] = raw_google_osaka_26['도착시간'].apply(lambda x: f'{int(x[0]) % 24:02d}:{x[1]}')

raw_google_osaka_27['도착시간'] = raw_google_osaka_27['도착시간'].apply(lambda x: re.split('[:]', x))
raw_google_osaka_27['도착시간'] = raw_google_osaka_27['도착시간'].apply(lambda x: f'{int(x[0]) % 24:02d}:{x[1]}')

### 시간 형식 맞추기

In [6]:
# 31분이든 01분이든 걱정마세요! 일의 자리 분을 0으로 만들어 드립니다.
def round_minutes(dt):
    minute = dt.minute
    if 1 <= minute <= 29:
        return dt.replace(minute=0)
    elif 31 <= minute <= 59:
        return dt.replace(minute=30)
    else:
        return dt

In [7]:
raw_google_bangkok_26['추출시간'] = pd.to_datetime(raw_google_bangkok_26['추출시간']).apply(round_minutes)
raw_google_bangkok_26['추출시간'] = raw_google_bangkok_26['추출시간'].dt.strftime('%Y-%m-%d %H:%M')

raw_google_bangkok_27['추출시간'] = pd.to_datetime(raw_google_bangkok_27['추출시간']).apply(round_minutes)
raw_google_bangkok_27['추출시간'] = raw_google_bangkok_27['추출시간'].dt.strftime('%Y-%m-%d %H:%M')

raw_google_danang_26['추출시간'] = pd.to_datetime(raw_google_danang_26['추출시간']).apply(round_minutes)
raw_google_danang_26['추출시간'] = raw_google_danang_26['추출시간'].dt.strftime('%Y-%m-%d %H:%M')

raw_google_danang_27['추출시간'] = pd.to_datetime(raw_google_danang_27['추출시간']).apply(round_minutes)
raw_google_danang_27['추출시간'] = raw_google_danang_27['추출시간'].dt.strftime('%Y-%m-%d %H:%M')

raw_google_osaka_26['추출시간'] = pd.to_datetime(raw_google_osaka_26['추출시간']).apply(round_minutes)
raw_google_osaka_26['추출시간'] = raw_google_osaka_26['추출시간'].dt.strftime('%Y-%m-%d %H:%M')

raw_google_osaka_27['추출시간'] = pd.to_datetime(raw_google_osaka_27['추출시간']).apply(round_minutes)
raw_google_osaka_27['추출시간'] = raw_google_osaka_27['추출시간'].dt.strftime('%Y-%m-%d %H:%M')

In [8]:
# 항공사 명에 공백 제거
raw_google_bangkok_26['항공사'] = raw_google_bangkok_26['항공사'].str.replace(' ', '')
raw_google_bangkok_27['항공사'] = raw_google_bangkok_27['항공사'].str.replace(' ', '')
raw_google_danang_26['항공사'] = raw_google_danang_26['항공사'].str.replace(' ', '')
raw_google_danang_27['항공사'] = raw_google_danang_27['항공사'].str.replace(' ', '')
raw_google_osaka_26['항공사'] = raw_google_osaka_26['항공사'].str.replace(' ', '')
raw_google_osaka_27['항공사'] = raw_google_osaka_27['항공사'].str.replace(' ', '')

In [9]:
raw_google_bangkok_26.to_csv('/', index=False)
raw_google_bangkok_27.to_csv('/', index=False)
raw_google_danang_26.to_csv('/', index=False)
raw_google_danang_27.to_csv('/', index=False)
raw_google_osaka_26.to_csv('/', index=False)
raw_google_osaka_27.to_csv('/', index=False)

In [11]:
raw_google_bangkok_26.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 385 entries, 0 to 384
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   항공사     385 non-null    object
 1   출발시간    385 non-null    object
 2   출발공항    385 non-null    object
 3   도착시간    385 non-null    object
 4   도착공항    385 non-null    object
 5   비행방식    385 non-null    object
 6   비행시간    385 non-null    object
 7   편도/왕복   385 non-null    object
 8   가격      385 non-null    object
 9   추출시간    385 non-null    object
 10  편명      385 non-null    object
dtypes: object(11)
memory usage: 33.2+ KB

In [15]:
raw_google_bangkok_26['도착시간'] = pd.to_datetime(raw_google_bangkok_26['도착시간'])

raw_google_bangkok_26.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 385 entries, 0 to 384
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   항공사     385 non-null    object
 1   출발시간    385 non-null    object
 2   출발공항    385 non-null    object
 3   도착시간    385 non-null    datetime64[ns]
 4   도착공항    385 non-null    object
 5   비행방식    385 non-null    object
 6   비행시간    385 non-null    object
 7   편도/왕복   385 non-null    object
 8   가격      385 non-null    object
 9   추출시간    385 non-null    object
 10  편명      385 non-null    object
dtypes: datetime64[ns](1), object(10)
memory usage: 33.2+ KB

In [12]:
raw_google_bangkok_27.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 408 entries, 0 to 407
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   항공사     408 non-null    object
 1   출발시간    408 non-null    object
 2   출발공항    408 non-null    object
 3   도착시간    408 non-null    object
 4   도착공항    408 non-null    object
 5   비행방식    408 non-null    object
 6   비행시간    408 non-null    object
 7   편도/왕복   408 non-null    object
 8   가격      408 non-null    object
 9   추출시간    408 non-null    object
 10  편명      408 non-null    object
dtypes: object(11)
memory usage: 35.2+ KB

## bangkok google - bangkok naver

타이 에어아시아 엑스 - 타이에어아시아엑스  
THAI아시아나 - 타이항공

In [210]:
import matplotlib.pyplot as plt
import koreanize_matplotlib  
import seaborn as sns

In [211]:
raw_google_osaka_27['가격'] = raw_google_osaka_27['가격'].str.replace(',', '').str.replace('원', '').astype(int)

In [213]:
raw_google_osaka_27['항공사'].apply(type).value_counts()

항공사
<class 'str'>      700
<class 'float'>     68
Name: count, dtype: int64

In [258]:
raw_google_osaka_27.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   항공사     768 non-null    object
 1   출발시간    768 non-null    object
 2   출발공항    768 non-null    object
 3   도착시간    768 non-null    object
 4   도착공항    768 non-null    object
 5   비행방식    768 non-null    object
 6   비행시간    768 non-null    object
 7   추출시간    768 non-null    object
 8   편도/왕복   768 non-null    object
 9   가격      768 non-null    object
 10  편명      768 non-null    object
dtypes: object(11)
memory usage: 66.1+ KB